<div class="widgets">

  <div class="row">
    <div class="col-md-6">

      <div
          ba-panel
          ba-panel-title="Standard Fields"
          ba-panel-class="with-scroll">
        <div>
          <form ng-submit="addCategoryProcess()">
            <div class="form-group">
              <label for="input01">Name</label>
              <input type="text" class="form-control" id="input01" placeholder="Please input name" ng-model="formData.name">
            </div>

            <div class="form-group">
              <label for="input02">Desc</label>
              <input type="text" class="form-control" id="input02" placeholder="Please input desc" ng-model="formData.desc">
            </div>
            <div class="form-group">
              <label for="input03">Icon</label>
              <input type="text" class="form-control" id="input03" placeholder="http://" ng-model="formData.icon">
              <span class="help-block sub-little-text">Please input logo image src.</span>
            </div>
            <div class="form-group">
              <label for="input04">Vendor</label>
                <ui-select ng-model="selectedVendor.selected"
                        class="btn-group bootstrap-select form-control"
                        append-to-body="true"
                        search-enabled="false">
                <ui-select-match placeholder="Select Vendor">
                  {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                    repeat="vendor in vendors | filter: $select.search">
                  <span ng-bind-html="vendor.name"></span>
                </ui-select-choices>
              </ui-select>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
